@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body {
  background-color: black;
  font-family: 'Major Mono Display', monospace;
}

img {
  width: 450px;
  height: auto;
}

nav {
  display: flex;
  color: red;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  margin-right: 5em;
}

ul li {
  padding-right: 0.5em;
}

#albums {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper h1 {
  margin-left: 2em;
  font-size: 2.5em;
}

img {
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}

img:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.popup {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 80vh;
  position: fixed;
  left: 14.5%;
  top: 12.5%;
  background-color: black;
  border: 10px solid red;
  justify-content: center;
  align-items: center;
  color: white;
}

.popup #closeBtn {
  color: white;
  font-size: 3em;
  font-weight: bolder;
}

.popup header {
  /* border: 2px solid white; */
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tracks {
  /* border: 1px solid white; */
  width: 85%;
}

#trackCont {
  min-height: 400px;
}

.hidden {
  display: none;
}

